@mainframe("Pictures")() {

<br><br>

@topmenu(1)

<br>

<div class="panel panel-info">
    <div class="panel-heading">
        Folder :
        <select name="folder1" id="folder1" class="input-sm">
            <option value="2013" selected>2013</option>
            <option value="2012">2012</option>
            <option value="2011">2011</option>
            <option value="2010">2010</option>
        </select>

        &nbsp;&nbsp; Sub-folder :
        <select name="folder2" id="folder2" class="input-sm">
            <option value="*">All</option>
            <option value="1306_4" selected>1306_4</option>
            <option value="1306_3">1306_3</option>
            <option value="1306_2">1306_2</option>
            <option value="1306_1">1306_1</option>
        </select>

        &nbsp;&nbsp;<button type="button" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-refresh"></i> Rescan list of folders</button>
    </div>

    <div class="panel-body">
        <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm">
                <i class="glyphicon glyphicon-refresh"></i> Rescan
            </button>
        </div>
        <br><br>

        <div class="row">
            <div class="col-xs-6 col-md-3">
                @pictures_pic("thumbnail/201305_bdi_misc_175.jpg")
            </div>
            <div class="col-xs-6 col-md-3">
                @pictures_pic("thumbnail/201306_bdi_misc_035.jpg")
            </div>
            <div class="col-xs-6 col-md-3">
                @pictures_pic("thumbnail/201306_bdi_misc_094.jpg")
            </div>
            <div class="col-xs-6 col-md-3">
                @pictures_pic("thumbnail/201306_bdi_misc_109.jpg")
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-3">
                @pictures_pic("thumbnail/201306_caro_misc_004.jpg")
            </div>
            <div class="col-xs-6 col-md-3">
                @pictures_pic("thumbnail/201306_bdi_misc_109.jpg")
            </div>
        </div>
    </div>
</div>
}